spring:
  application:
    name: eLibrary_service


  datasource:
    url: jdbc:mysql://localhost:3306/eLibrary_service
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  # --- PHẦN MAIL, GOOGLE, JWT GIỮ NGUYÊN ---
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  elasticsearch:
    uris: http://localhost:9200
  springdoc:
    swagger-ui:
      path: /swagger-ui-html
    api-docs:
      path: /api-docs
jwt:
  signerKey: ${JWT_SIGNER_KEY}
  valid-duration: 600000 # in second
  refreshable-duration: 3000 # in second



frontend:
  base-url: http://localhost:5173
  oauth:
    register-url: http://localhost:5173/oauth-register
    success-url: http://localhost:5173/oauth-success


vnpay:

  tmnCode: ${VNPAY_TMN_CODE}
  hashSecret: ${VNPAY_HASH_SECRET}

  url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html


  returnUrl: https://google.com

  ipnUrl: https://subhepatic-kensley-myelinic.ngrok-free.dev/api/payment/vnpay-callback

server:
  port: 8080